<div>
	<div class="benfits-hero">
		<div class="center-block">
			<h1>It's not just a used car,<br/> it's Kia  Certified Pre-Owned</h1>
		</div>	
		<img src="../images/14KFOR-003-A-2-Web.png" class="img-responsive" />
		<div class="ProgramBenifits">
				<h2>Kia CPO Program Benifits</h2>
				<p>Every Kia that earns the title of Certified Pre-Owned (CPO) is five year or newer, has less than 60,000 miles and has undergone a thorough 150-Point Qyality assurance Inspection. From brakes to electrical to engine, every aspect of your vehicle inspected. All of the highest standards come standard in a Kia Certified Pre-Owned.
				</p>
				<p> we make finding the perfect Kia sedan, SUV, Crossover, or minivan easy with our large inventory of Certified Pre-Owned vehicles. Already foun your perfect Kia? Check out our special offers, use our payment calculator and apply for credit. We make car shopping easy.
				</p>
		</div>
		<div class="relatedBrouchers">
			<h3>Related Brouchers</h3>
			<div class="bordered">
					<img src="../images/KiaCPOBrochure-Cover-Half.png"/>
					<a href="#" class="download"><span class="pull-left"><img src="../images/icon_download.png"/></span>Download Limitations of Coverage pdf</a>
			</div>
		</div>
	</div>
	<div class="benifits_gray_section container-fluid">
		<div class="center-block">
			<h1>Choosing a Certified Pre-Owned Kia gives you the confidence of knowing every vehicle comes equipped with Kia's comprehensive:</h1>
		</div>	
		<div class="row">
			<div class="col-md-3">
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
					<li>Aliquam tincidunt mauris eu risus.</li>
					<li>Vestibulum auctor dapibus neque.</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
					<li>Aliquam tincidunt mauris eu risus.</li>
					<li>Vestibulum auctor dapibus neque.</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
					<li>Aliquam tincidunt mauris eu risus.</li>
					<li>Vestibulum auctor dapibus neque.</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
					<li>Aliquam tincidunt mauris eu risus.</li>
					<li>Vestibulum auctor dapibus neque.</li>
				</ul>
			</div>
		</div>	
	</div>
	<div class="whiteSections">
		<div class="row">
			<div class="col-md-4">

				<img src="../images/icon_car.png" width="100">
				<h3>Rental Car Coverage</h3>
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
			</div>
			<div class="col-md-4">
				<img src="../images/icon_settings.png" width="100">
				<h3>Towing Coverage</h3>
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
			</div>
			<div class="col-md-4">
				<img src="../images/icon_tow.png" width="100">
				<h3>Travel Breakdown Coverage</h3>
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
			</div>
		</div>
	</div>
	<div class="moreAboutCertified">
			<div class="center-block">
				<h1>More About Certified Pre-Owned</h1>
			</div>	
			<div class="row">
				<div class="col-md-3">
					<a href="#"><img src="../images/black_arrow.png"/>Warranty</a>
					<p>Every Kia Certified Pre-Owned vehicle comes with a warranty.</p>
				</div>
				<div class="col-md-3">
					<a href="#"><img src="../images/black_arrow.png"/>Extended Protection Plans</a>
					<p>Extended Protection Plans.</p>
				</div>
				<div class="col-md-3">
					<a href="#"><img src="../images/black_arrow.png"/>Kia Care Service Plan</a>
					<p>Plans that help keep your kia in tip top shape.</p>
				</div>
				<div class="col-md-3">
					<a href="#"><img src="../images/black_arrow.png"/>Road Hazard Tire &amp; Wheel Plans</a>
					<p>Plans to help keep your kia on the road.</p>
				</div>
			</div>

	</div>
</div>