.searchText {
	float: right;
}
.paginStyle {
	position: relative;
	left: 30%;
}
.showMoreBtn {
	width: 500%;
	margin: 7% 421%;
	
}

@media screen and (max-width: 680px) {
	.paginStyle {
	position: relative;
	left: 10%;
}
.showMoreBtn {
	width: 300%;
	margin: 7% 421%;
	
}

}